<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDClientID</key>
	<string>953928813196-gjdok659efkalecmdakk26s8oqbngrs1.apps.googleusercontent.com</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>$(PRODUCT_NAME) needs permission to access photos on your device.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GoogleSignInTest</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.953928813196-gjdok659efkalecmdakk26s8oqbngrs1</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
